.block {
  max-width: 396px;
  margin: 0 auto;
}

.block button {
  width: 100%;
}

.userData {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin: 30px 0 20px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #EDEDED;
}

.errorText {
  margin: 30px 0 20px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #EDEDED;
}

@media screen and (max-width: 425px) {
  .userData {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
