.block {
   grid-area: bgImg;
   
   img {
      width: 100%;
      height: 100%;
   }
}


@media screen and (max-width: 992px) {
   .block {
      width: 60%;
      margin: auto;
   }
}


@media screen and (max-width: 768px) {
   .block {
      width: 80%;
   }
}


@media screen and (max-width: 425px) {
   .block {
      width: 100%;
   }
}