.block {
   display: grid;
   grid-template-areas: 'content bgImg';
   grid-template-columns: 6.5fr 4.5fr;
   align-items: center;
   max-width: 1080px;
   margin: 0 auto;
}

.content {
   grid-area: content;

   p {
      max-width: 450px;
      margin: 20px 0 60px;
   }
}

.buttons {
   display: flex;

   a {
      margin: 0 30px 0 0;
      &:last-child {
         margin: 0;
      }
   }
}




@media screen and (max-width: 992px) {
   .block {
      display: grid;
      grid-template-areas: 'bgImg' 'content';
      grid-template-columns: 1fr;
      grid-column-gap: 20px;
      align-items: center;
   }

   .content {
      p {
         max-width: none;
      }
   }
}





@media screen and (max-width: 768px) {
   .content {
      p {
         font-size: 18px;
      }
   }

   .buttons {
      flex-direction: column;
      a {
         margin: 0 0 15px 0;
      }
   }
}