.block {
   padding: 80px 15px 15px;
}


@media screen and (max-width: 992px) {
   .block {
      padding: 40px 15px 15px;
   }
}


@media screen and (max-width: 768px) {
   .block {
      padding: 20px 15px 15px;
   }
}