* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
body {
	font-family: 'Arial';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 120%;
	background: #fff;
  	user-select: none;
}
a { text-decoration: none; }
li { list-style: none; }

input, textarea { outline:none; }
input:active, 
textarea:active { outline:none; }
:focus { outline:none; }

a:active, 
a:focus { outline: none; }

textarea { resize:none; }


.main-title {
	font-weight: 800;
	font-size: 36px;
	line-height: 43.2px;
	letter-spacing: -0.025em;
	color: #000;
}


@media screen and (max-width: 992px) {
	.main-title {
		line-height: 120%;
	}
}

@media screen and (max-width: 992px) {
	.main-title {
		font-size: 24px;
	}
}