.block {
   max-width: 665px;
   margin: 0 auto;

   h1 {
      margin-bottom: 30px;
   }
}

.message {
   margin-top: 30px;
   padding: 15px 20px;
   border: 1px solid #c3e6cb;
   font-size: 16px;
   line-height: 1;
   border-radius: 10px;
   background: #d4edda;
   color: #155724;
}